/*menu*/
nav {
    display: flex;
    justify-content: center;
}
nav ul {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
}
nav ul li {
    float: left;
    width: 182px;
}
nav ul li a {
    display: block;
    text-align: center;
    color: black;
    text-decoration: none;
    background-color: #ffffff;
    padding: 14px 16px;
    height: 30px;
    font-weight: bold; 
}
nav ul li a:hover {
    background-color: aliceblue;
}
.submenu  {
    display: none;
    background-color: aliceblue;
    box-shadow: 0 2px 5px rgba(0, 0, 0, .2s);
}
.submenu li a{
    display: block;
    width: 150px;
    height: 30px;
}
.tem-submenu:hover .submenu{
    display: block;
}
/*texto*/
h1{
    text-align: center;
}
h2 {
    text-align: center;
}
h3{
    text-align: center;
}
body {
    background-image: url(gpt.jpeg);
}
main {
    background-color: #f0f8ffaa;
}
p {
    text-align: justify;
    padding: 10px;
}
aside {
    background-color: #ffffff;
}
footer {
    background-color: #ffffff;
}
footer ul li a{
    color: black;
    text-decoration: none;
}
/*específico*/
#part6 ul li{
    padding-top: 10px;
}
h2+p{
    padding-left: 20px;
}
main h2~h2 {
    color: darkslategray;
}