/* css geral */
:root {
  /* variaveis em css */
  --cor-fundo-header: #454EB2;
  --cor-fonte-header: #ffffff;
  --cor-fundo-body: #ffffff;
  --cor-fonte-body: #000000;
  --fonte: roboto, "Helvetica Neue", sans-serif;
}

* {
  margin: 0;
  padding: 0;
}

