.menu_sup {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: var(--cor-fundo-header);
    color: var(--cor-fonte-header);
    font-size: 40px;
    height: 65px;
}
div img {
    height: 1em;
    fill: var(--cor-fonte-header);
    padding: 5px;
}
